.navbar-lewagon {
  justify-content: space-between;
  background-color: var(--c-gray-600);
  color: var(--c-text-tertiary);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: var(--c-text-tertiary);
  &:hover, &:focus {
    color: var(--c-text-tertiary);
    scale: 1.2;
    margin: 0 10px;
  }
}
